
<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Create New User</h5>
    <p class="card-text-center">
      <!-- card body -->
      <%= form_for @user do |f| %>
        Name: <%= f.text_field :name %>
        Email: <%= f.email_field :email %>
        Password: <%= f.password_field :password_digest%>
        <%= f.submit %>
      <% end %>
      <!-- card body -->
    </p>
  </div>
</div>
